body {
  background: url('img.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

#alice-container {
  width: 90vh;
  display: grid;
  place-items: center;
  grid-template-areas:
    "a1 . ."
    ". a2 ."
    ". . a3";
}

#alice1,
#alice2,
#alice3 {
  grid-area: a1;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

#alice1 { grid-area: a1; }
#alice2 { grid-area: a2; }
#alice3 { grid-area: a3; }
